// Pour les card de nos postes

.card-post {
  width: 90%;
  margin: auto;
  margin-bottom: 35px;
  background-color: white;
  border: solid 0 white;
  padding: 15px 0;
  font-size: 12px;
  max-width: 450px;
  border-radius: 3px;
  position: relative;
}

.card-img {
  width: 100%;
  margin: 15px 0;

}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-name, .card-date {
  margin: 0 20px;
}

.card-name {
  font-weight: 600;
  font-size: 15px;
  color: #525252;
}

.card-date {
  color: #6c6c6c;
}

.card-text {
  padding: 15px 15px 15px 15px;
}


.card-logo {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  margin-left: 10px;
}

.fa-heart, .fa-comment, .fa-retweet {

  padding: 5px;
  cursor: pointer;
  color: #afafd0;

}

.like {
  color: #d437f6 !important;
}

.modify {
  position: absolute;
  margin-top: 3px;
  right: 10px;
  border-color: #afafd0!important;
  background: white;
  padding: 2px;
  font-size: 12px;
  outline: white;
  color: #9999d9;
  font-weight: 600;
}

@media only screen and (max-width: 744px) {

  .card-post{
    width: 100%;
  }

}