// Pour la liste des postes

.post-list {
  width: 100%;
  background-color: #f7f7fc;
  margin-top: 50px;
  padding: 20px;
}

@media only screen and (max-width: 744px) {

  .post-list {;
    padding: 20px 0;
  }
}